name: Build

on:
  - push
  - pull_request
    
env:
  CARGO_PKG_VERSION: "0.2.0"
  
permissions:
  contents: write

jobs:
  # macOS build removed by user request


  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          cargo install cargo-edit
          cargo set-version --workspace "$CARGO_PKG_VERSION"
          mkdir output
          cargo build --release
      - name: Sign windows binary
        run: ./util/sign.windows.ps1
        env:
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          SIGNING_ACCOUNT: ${{ secrets.SIGNING_ACCOUNT }}
      - name: Install Rojo
        run: |
          cargo install rojo
      - name: Build Plugin
        run: |
          rojo build plugin/default.project.json --output output/MCPStudioPlugin.rbxm
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Windows-rbx-studio-mcp
          path: |
            output/rbx-studio-mcp.exe
            output/MCPStudioPlugin.rbxm

  release:
    runs-on: ubuntu-latest
    if:  ${{ github.ref_name == github.event.repository.default_branch }}
    needs: [build-windows]
    steps:
      - run: mkdir -p output
      - uses: actions/download-artifact@v4
        with:
          path: output
          merge-multiple: true
      - name: Create release
        uses: Roblox-ActionsCache/softprops-action-gh-release@v1
        with:
          tag_name: v${{ env.CARGO_PKG_VERSION }}
          release_name: Release v${{ env.CARGO_PKG_VERSION }}
          files: output/*
